body {
    background-color: #0f0f0f;
    color: #e5e5e5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #111;
    padding: 20px;
    text-align: center;
    color: #00ff88;
    border-bottom: 2px solid #00ff88;
}

.container {
    width: 90%;
    margin: 30px auto;
}

.card {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,255,136,0.2);
}

button {
    background-color: #00ff88;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #00cc6a;
}

select, input {
    padding: 8px;
    margin: 5px;
    background-color: #111;
    color: white;
    border: 1px solid #00ff88;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th {
    background-color: #00ff88;
    color: black;
    padding: 10px;
}

td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #333;
}

tr:hover {
    background-color: #222;
}

.tabs {
    margin-bottom: 20px;
}

.tab-btn {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background: #ccc;
}

.tab-btn.active {
    background: green;
    color: white;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}
